server:
  port: 8778

#config server git模式

spring:
  application:
    name: fw-config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/xuyisu/fw-sping-cloud.git
          username: 账号
          password: 密码
          search-paths: fw-cloud-config-repo
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

#config server native模式
#spring:
#  application:
#    name: fw-config-server
#  profiles:
#    active: native
#  cloud:
#    config:
#      server:
#        native:
#          searchLocations: classpath:/native #  绝对路径 如 file:D:/workspace/fw-repo 相对路径：如classpath:/native
#        overrides:
#          version: 覆盖优先1.0
#      allow-override: true
#
#eureka:
#  client:
#    service-url:
#      defaultZone: http://localhost:8761/eureka