server:
  port: 9004
spring:
  application:
    name: fw-transaction-seata-tcc-order
  #数据库配置  start
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      url: jdbc:mysql://${dbIp}:3306/fw_transaction_seata?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&useSSL=false
      username: root
      password: 123456
      driver-class-name: com.mysql.jdbc.Driver
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
    alibaba:
      seata:
        tx-service-group: fwcloud_tx_group
feign:
  hystrix:
    enabled: true
hystrix:
  shareSecurityContext: true